* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10vw, 100vw));
  grid-auto-rows: 25vh;
  grid-gap: 5vw;
  grid-auto-flow: dense;
}

#viewerDiv {
  display: none;
}

.nohead {
  margin-top: 0vh;
}

#logo {
  width: 25vw;
  height: auto;
  position: fixed;
  margin-top: 0vh;
  margin-left: 74vw;
  opacity: 0.5;
  box-shadow: 0px 0px 0px 0px;
}

#gallery {
  width: 100vw;
  height: 90vh;
  opacity: 1;
  margin-top: 10vh;
  font-family: 'Lacquer', cursive;
  display: none;
  background-color: black;
  color: white;
  font-size: 2vh;
}

.ig {
  width: 100vw;
  height: auto;
}

body {
  background-color: gray;
}

img {
  margin: 1vw;
  box-shadow: 1px 1px 1px 1px black;
}

#aboutPage {
  font-family: 'Lacquer', cursive;
  display: none;
  width: 90vw;
  height: auto;
  position: fixed;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-bottom: 4vh;
  background-color: black;
  opacity: 0.7;
  color: white;
  padding: 1vw;
  font-size: 2vh;
}

@keyframes trans {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes shrink {
  from {
    border-radius: 0%;
  }
  to {
    border-radius: 50%;
  }
}
#intro {
  height: 75vh;
  width: 75vw;
  position: fixed;
  margin-top: 25vh;
  margin-left: 25vw;
  opacity: 0.8;
}

#gif {
  position: absolute;
  height: 50vh;
  width: 50vw;
  animation-name: trans;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: white;
}

#png {
  position: absolute;
  height: 70vh;
  width: 50vw;
  opacity: 0;
  animation-name: trans;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-direction: alternate-reverse;
  animation-fill-mode: backwards;
  background-color: white;
}

#nav {
  background-color: black;
  font-family: 'Lacquer', cursive;
  position: fixed;
  display: inline-grid;
  font-size: 5vh;
  width: 100vw;
  height: 10vh;
  grid-template-areas: 'about gallery map';
  justify-items: center;
  align-items: center;
  justify-content: stretch;
  mix-blend-mode: luminosity;
  color: white;
  opacity: 0.7;
}

#gall {
  color: white;
  grid-area: gallery;
  cursor: pointer;
}

#gall1 {
  display: none;
  color: white;
  grid-area: gallery;
  cursor: pointer;
}
#gally {
  cursor: pointer;
}

#about {
  color: white;
  grid-area: about;
  cursor: pointer;
}

#map {
  color: white;
  grid-area: map;
  cursor: pointer;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

article {
  height: 2.5vw;
  font-family: 'Lacquer', cursive;
  font-size: 2vw;
  margin-right: 50vw;
  margin: 1vw;
  font-stretch: normal;
}

.container {
  position: absolute;
  width: 100vw;
}

.pic-container {
  float: left;
  top: 10vh;
}

.parent {
  top: 10vh;
  position: relative;
  width: 50vw;
  height: 75vw;
  margin: 3px auto;
}

.wrapper {
  width: 50vw;
  height: 75vw;
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.wrapper.open {
  width: 50vw;
  height: 75vw;
}

.wrapper div.content {
  position: absolute;
  transform-origin: top;
  width: 50vw;
  height: 75vw;
  border-radius: 3px;
  overflow: hidden;
  margin: 1vw;
}

.wrapper .img {
  height: auto;
  width: 50vw;
  background-size: cover;
  background-position: center;
}

.text {
  padding: 0;
}

.text .line {
  height: 2vh;
  background: #999;
  opacity: 0.7;
  margin: 1vw;
}

.title {
  width: auto;
}

.subtitle {
  width: auto;
}
