* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: inline-grid;
  grid-template-areas:
    'about logo'
    'content content';
  grid-template-columns: 75vw 25vw;
  grid-template-rows: 25vh 75vh;
}

#logo {
  grid-area: logo;
  height: 100%;
  width: auto;
}

#aboutUs {
  grid-area: about;
  font-size: 1vw;
  padding: 1vw;
}

#appDiv {
  display: flex;
  grid-area: content;
  flex-direction: column;
  flex-shrink: 50vw;
}

.pic-container {
width: 100%;
}

img {
  width: 45vw;
  height: auto;
}